
body{
    background-color: #ffffff;
    font-family: 'roboto';
    box-sizing: border-box;
}

/*-------------------------------- Header and menu ------------------------------------------*/

hr{
    height:0.5px; 
    border:none; 
    color:#000; 
    background-color:#000; 
    width:90%;
}

a{
    text-decoration:none;
}

.section-contact{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.phone-email, .promo{
    height:25px;
    width:45%;
}

.phone-email>a, .promo>span{
    color: #787878;
    font-size: 14px;
}

.phone-email > a {margin-right: 30px;}

.phone:hover > .fa-phone-volume {color: #ef9f7e;}
.mail:hover > .fa-envelope {color: #ef9f7e;}

.promo{text-align: right;}

.logo{margin-left: 70px;}

.section-menu{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.ul-homes, .ul-features, .sub-news {
    display:none;
}

.options{
    display: flex;
}


.ul-menu{
    display: flex;
    justify-content: left;
    width: 100%;
    padding:0;
}

.ul-menu >li > a > span, .ul-login >li > a > span, .ul-wishlist >li > a > span, .ul-cart >li > a > span{
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.ul-menu > li{
    margin-right: 10px;
}

.ul-login > li > a > span, .ul-login >li > a > .fa-user{
    color: #ef9f7e;
}

.ul-wishlist > li > a > .fa-heart{
    color: black;
}

.ul-cart > li > a > .fa-shopping-cart{
    color: black;
}

/* Creating underlined for menu */
.ul-menu > li {
    position: relative;
    display: inline-block;
}

.ul-menu > li:after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width .3s ease-in-out;
}

/* Hover stylings */

.ul-login > li > a:hover > span, .ul-login >li > a:hover > .fa-user{
    color: black;
}

.ul-wishlist > li > a:hover > span, .ul-wishlist > li > a:hover > .fa-heart{
    color: #ef9f7e;
}


.ul-cart > li > a:hover span , .ul-cart > li > a:hover > .fa-shopping-cart{
    color: #ef9f7e;
}

.ul-menu > li > a:hover{
    text-decoration-style: solid;
}

li:hover:after {
    width: 100%;
}

/* Remove decoration from tags li */
.ul-menu, .ul-login, .ul-wishlist, .ul-cart{
    list-style-type: none;
}

/* ----------------------------------------------------------------------- */

/* -------------------------------- Slider-menu ------------------------------------------------------- */

.menu-decor{
    width: 90%;
    height: 43.2px;
    background-color: black;
    margin-left: 70px;
    margin-top: 40px;
    display:flex;
}

.menu-text-icon{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

.sub-menu-decor{
    width: 100%;
    background-color: #191919;
    position : absolute;
    top: 44px;
    right: -0.5px;
    display: none;
}

.menu-text-icon:hover .sub-menu-decor{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 5;
}

.sub-menu-decor > ul{
    list-style-type: none;
    padding: 0;
}

.sub-menu-decor > ul > li {
    height: 25px;
    margin-bottom: 5px;
    margin-left: 30px;
    color: #D1D4C9;
    padding-top: 5px;
    padding-left: 10px;
    width: 78%;
}

.sub-menu-decor > ul > li:hover{
    background-color: #414141;
    color: white;

}

.input-sub-decor{
    width: 80%;
    margin-left: 30px;
    margin-top: 20px;
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: #414141;
    border: none;
}

.search{
    width:80%;
    text-indent: 30px;
    font-size: 16px;
    background: url("/imgs/search.png");
    background-color: white;
    background-repeat: no-repeat;
    color: #787878;
    background-position:  right 30px top 10px;;
    background-size: 20px;
}

.search:hover {
    cursor: pointer;
}

.menu-text-icon:hover{
    cursor: pointer;
}

.menu-decor > span, fa-bars, .menu-text-icon{
    color: white;
    font-weight: bold;
}

/* -------------------------------- Slider-Imgs ------------------------------------------------------- */

.slider-imgs{
    margin-left: 70px;
    margin-top:20px;
    width: 90%;
    height: 80vh;
    background-color: #ef9f7e;
    background: url("/imgs/imgs_slider/img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.arrows-container{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.left-arrow, .right-arrow {
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2px;
    height: 30px;
    background-color: rgba(24, 10, 10, 0.1);
    z-index: 4;
}

.left-arrow:hover, .right-arrow:hover {
    background-color: rgba(24, 10, 10, 1);
    cursor: pointer;
}

.left-arrow > i, .right-arrow > i {color: white; font-size: 25px;}

.left-arrow{margin-left: 40px;}
.right-arrow{margin-right: 40px;}

.text-img{
    width: 92%;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-left:100px;
    border-bottom: 1px solid white;
    bottom: 10%;
}

/* -------------------------------- Footer-Slider-Imgs ------------------------------------------------------- */


.footer-slider{
    width: 90%;
    height: 80px;
    background-color: #ef9f7e;
    margin-left: 70px;
    margin-top: 20px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.fa-truck, .fa-sack-dollar, .fa-phone, .text-shipping, .text-money, .text-support{
    color: white;
    font-size: 20px;
}

.separator{
    height: 40%;
    border-left: 1px solid white;
}

/* ------------------------------------------ Products ------------------------------------------------------------------ */

.container-products1{
    margin-top: 20px;
    margin-left: 70px;
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.product1{background: url("/imgs/products/product1.jpg")}
.product2{background: url("/imgs/products/product2.jpg")}


.product1, .product2{
    width: 40%;
    height: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 30px;
    flex: 1 1 1;
    color: #2B2B2B;

}

.product2{width:20%}

.product1 > span, .product2 > span, .product3_1 > span, .product3_2 > span {
    position: relative;
    display: inline-block;
}

.product1 > span:after, .product2 > span:after, .product3_1 > span:after, .product3_2 > span:after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 1.5px;
    background-color: #2B2B2B;
    transition: width .3s ease-in-out;
}

.product1:hover, .product2:hover, .product3_1:hover, .product3_2:hover{
    cursor: pointer;
}

.product1:hover > span:after, .product2:hover > span:after, .product3_1:hover > span:after, .product3_2:hover > span:after {
    width: 100%;
}


.product3{
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 30px;
    flex: 1 1 1;
    color: #2B2B2B;
}

.product3_1{
    width: 100%;
    height: 45%;
    background: url("/imgs/products/product3_1.jpg");
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-left: 30px;
}

.product3_2{
    width: 100%;
    height: 45%;
    background: url("/imgs/products/product3_2.jpg");
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-left: 30px;
}

.product4:hover{
    background: url("/imgs/products/sofa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.product5:hover{
    background: url("/imgs/products/cama.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.product6:hover{
    background: url("/imgs/products/decor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.product7:hover{
    background: url("/imgs/products/cocina.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.product8:hover{
    background: url("/imgs/products/exterior.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.product9:hover{
    background: url("/imgs/products/bodega.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}


.product4:hover > i, .product4:hover > span, .product5:hover > i, .product5:hover > span,
.product6:hover > i, .product6:hover > span, .product7:hover > i, .product7:hover > span,
.product8:hover > i, .product8:hover > span, .product9:hover > i, .product9:hover > span{
    display: none;
}


.product4, .product5, .product6, .product7, .product8, .product9{
    width: 15%;
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
    background-color: #F2F2F2;
    color: #2B2B2B;
}


/* ------------------------------------- Title Feautured Products --------------------------------------------------------- */

.featured-products{
    width:100%;
    height: 10vh;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 50px;
    margin-top: 100px;
}


.featured-products span {
    font-size: 2.5rem;
    position: relative;
}

.featured-products span::before{
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    width: 150%;
    height: 1px;
    display: block;
    margin-right: 25px;
    background-color: #DDDDDD;
}

.featured-products span::after{
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 150%;
    height: 1px;
    display: block;
    margin-left: 25px;
    background-color: #DDDDDD;
}

/* ------------------------------------- Images Feautured Products --------------------------------------------------------- */

.imgs-featured{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 70px;
}

.imgs-featured img {
    max-width: 40vw;
    max-height: 40vh;

}

.images-container{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    width: 25%;
    margin-bottom: 90px;
    
}

.images-container > a{
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

.images-container > a:hover{
    color: #ef9f7e;
}

.images-container {
    position: relative;
}

.images-container:after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 80%;
    height: 1px;
    background-color: #DDDDDD;
    margin-top: 20px;
}

/* ------------------------------------- Show more products --------------------------------------------------------- */

.show-more{
    width: 100%;
    height: 30vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.button-show{
    width: 20vw;
    height: 8vh;
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
}

.button-show > a{
    color:white;
    font-weight: bold;
}

.button-show:hover{
    cursor: pointer;
    background-color: #ef9f7e;
}

/* -------------------------- Media Queries ----------------------------------------------------- */

@media only screen and (max-width: 750px){

    /*---------------------- phone - email and offer ------------------------------------- */


    .header{
        width: 100vw;
    }

    .section-contact{
        flex-direction: column;
        width: 100vw;
        height: 30vh;
        align-items: center;
        justify-content:center;
        margin-bottom: 0px;
    }

    .phone-email > a {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .promo > span {
        font-size: 16px;
        white-space:pre-wrap;
        padding-left: 30px;
        padding-right: 30px;
    }

    hr{
        margin-top: 15px;
    }


    .phone-email, .promo{
        height: 50px;
        width:100%;
        margin-top: 10px;
        text-align: center;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    /*------------------------------ menu ------------------------------------------------ */

    .section-menu{
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .options{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 90vw;
    }

    .ul-menu li a  span {
        font-size: 1em;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 0;
    }

    .ul-login, .ul-wishlist, .ul-cart{
        padding: 0;
        width: 100%;
    }

    /* --------------------------- sub menu decor ------------------------------------------ */

    .menu-decor{
        width: 100%;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .menu-text-icon{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .search{
        width: 96%;
        height: 2rem;
    }

    .sub-menu-decor{
        top: 60px;
        right: 0px;
    }
    
    /* -------------------------------- Slider Images -------------------------------------------------------- */

    .slider-imgs{
        margin-left: auto;
        margin-right: auto;
        margin-top:20px;
        width: 90%;
        height: 80vh;
        background: url("/imgs/imgs_slider/img1.jpg");
        background-size: cover;
        background-repeat: no-repeat;   
    }

    .left-arrow, .right-arrow {height: 10px;}
    
    .left-arrow > i, .right-arrow > i {color: white; font-size: 15px;}
    
    .left-arrow{margin-left: 20px;}
    .right-arrow{margin-right: 20px;}

    .text-img > span {font-size: 2rem;}

    .text-img{margin-left: 15px;}

    /* -------------------------------- Footer Slider -------------------------------------------------------- */

    .footer-slider{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .fa-truck, .fa-sack-dollar, .fa-phone, .text-shipping, .text-money, .text-support{
        color: white;
        font-size: 10px;
        font-weight: bold;
    }

} 